[Unit]
Description=ip-validator service
ConditionPathExists=/home/username/bin
After=network.target


[Service]
Type=simple
User=username
Group=usergroup
LimitNOFILE=1024

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ip-validator

WorkingDirectory=/home/username/bin
ExecStart=/home/username/bin/ip-validator

Environment="LISTEN_ADDR=127.0.0.1:8088"
Environment="DEBUG=true" 
Environment="FILE_PATH=/home/username/bin/ip.txt"
Environment="FILE_SCAN_TIMEOUT=100"  


Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target